qa/tests/java/src/main/resources/xsd/flowImport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema  version="1.1" xml:lang="en"
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- <xs:include  schemaLocation="standardInfo.xsd" />-->
 
    <xs:simpleType name="boolType">
        <xs:restriction base="xs:normalizedString">		
			<xs:enumeration value="false"/>
			<xs:enumeration value="true"/>
            <xs:enumeration value="0" />
            <xs:enumeration value="1" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="moneyType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits  value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="roleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Project Manager" />
            <xs:enumeration value="Administrator" />
            <xs:enumeration value="Provider" />
            <xs:enumeration value="Client" />
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType  name="addressType">
        <xs:all>
        <!-- Note : Address_Name added for customer-->
            <xs:element type="xs:string" name="Address_Name" minOccurs="0" maxOccurs="1" />
        
            <xs:element type="xs:string"
                        name="StreetDetail1" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string"
                        name="StreetDetail2" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="Country"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="Province"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="City"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="PostalCode"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="PoBox"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="Telephone"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="Fax"
                        minOccurs="0" maxOccurs="1" />
            <xs:element type="timezoneType" name="TimeZone"
                        minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <xs:complexType  name="emailInformationType">
        <xs:all>
            <xs:element name="Emails" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Email"  minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element type="xs:string" name="NotificationEmail" minOccurs="0" maxOccurs="1" />
        </xs:all>
    </xs:complexType>

    <xs:complexType  name="phoneType">
        <xs:all>
            <xs:element name="PhoneType"  minOccurs="0"  >                            
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="cell" />
                        <xs:enumeration value="pager" />
                        <xs:enumeration value="phoneOffice" />
                        <xs:enumeration value="phoneHome" />
                        <xs:enumeration value="phone" />
                        <xs:whiteSpace value="collapse"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
                            
            <xs:element type="xs:string"
                        name="Number"   minOccurs="0"  />
            <xs:element type="xs:string"
                        name="Extension"  minOccurs="0"  />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType  name="rateType">
        <xs:all>
            <xs:element type="xs:string"
                        name="Service"  minOccurs="1" maxOccurs="1" /> 
            <xs:element type="xs:string"
                        name="Priority"  minOccurs="0"  />
            <xs:element type="xs:string"
                        name="Domain"   minOccurs="0"  />
            <xs:element type="xs:string"
                        name="Category"  minOccurs="0"  />
            <xs:element type="xs:string"
                        name="LanguageSource"  minOccurs="0"  />
            <xs:element type="xs:string"
                        name="LanguageTarget"  minOccurs="0"  />       
            <xs:element name="RatesPrices"  minOccurs="0"    >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="RatePrice"  minOccurs="1" maxOccurs="unbounded"  >                             
                            <xs:complexType>
                                <xs:all>
                                    <xs:element type="xs:string"
                                                name="Unit"  minOccurs="1"  />
                                    <xs:element type="moneyType"
                                                name="UnitPrice"  minOccurs="1"  /> 
                                    <xs:element type="xs:string"
                                                name="Currency"  minOccurs="1"  />                                     
                                </xs:all>                     
                            </xs:complexType>                                    
                        </xs:element>                                    
                    </xs:sequence>                     
                </xs:complexType>                
            </xs:element>            
        </xs:all>
    </xs:complexType>
    
    <xs:complexType  name="providerDomainType">
        <xs:all>
            <xs:element type="xs:string"
                        name="Domain"  minOccurs="1"  />
            <xs:element type="xs:string"
                        name="Note"   minOccurs="0"  />
            <xs:element type="xs:string"
                        name="MonthsOfExperience"   minOccurs="0"  />
                                    
            <xs:element type="xs:string"
                        name="YearsOfExperience"   minOccurs="0"  />                        
                        
            <xs:element name="Qualifications"  minOccurs="0"  >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Qualification"  minOccurs="0"  maxOccurs="unbounded"  >
                        </xs:element>                                    
                    </xs:sequence>
                </xs:complexType>                
            </xs:element>           
            
            <xs:element name="Experiences"  minOccurs="0"  >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="xs:string" name="Experience"  minOccurs="0"  maxOccurs="unbounded" >
                        </xs:element>                                    
                    </xs:sequence>                     
                </xs:complexType>                
            </xs:element>                       
        </xs:all>
    </xs:complexType>
    
    <xs:complexType  name="productionCapacityType">
        <xs:all>
            <xs:element type="xs:string"
                        name="Unit"  minOccurs="0"  />
            <xs:element type="xs:string"
                        name="Domain"   minOccurs="0"  />
            <xs:element type="xs:string"
                        name="LanguageSource" minOccurs="0" />
            <xs:element type="xs:string"
                        name="LanguageTarget" minOccurs="0"  />
            <xs:element type="xs:string"
                        name="Service"   minOccurs="0"  />                
            <xs:element type="xs:string"
                        name="Capacity"   minOccurs="1"  />     
        </xs:all>
    </xs:complexType>
        		    
    <xs:complexType name="providerType">
        <xs:all>            
        	<xs:element ref="ProviderIdentifier" minOccurs="1" maxOccurs="1"></xs:element>
            
            <xs:element name="LastName" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>
			<xs:element name="ProviderNumber" type="xs:string" minOccurs="0" maxOccurs="1"></xs:element>

            <xs:element name="CompanyName" type="xs:string"
                        minOccurs="0" maxOccurs="1">
            </xs:element>

            <xs:element name="Currency" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="TimeZone" type="timezoneType" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="Note" minOccurs="0"
                        maxOccurs="1" type="xs:string">
            </xs:element>
            
            <xs:element name="PaymentTerms" type="xs:string"
                        minOccurs="0" maxOccurs="1">
            </xs:element>

            <xs:element name="Provider_Active" type="boolType"
                        minOccurs="0" maxOccurs="1">
            </xs:element>

            <xs:element name="Intern" type="boolType" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="AllDomains" type="boolType" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="Address" minOccurs="0" maxOccurs="1" type="addressType">
            </xs:element>

            <xs:element name="Phones" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Phone" minOccurs="0"  maxOccurs="unbounded" type="phoneType">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>            

            <xs:element name="EmailInformation" minOccurs="0" maxOccurs="1" type="emailInformationType" />
            <xs:element name="LanguagePairs"
                        minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="LanguagePair" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element type="xs:string" name="LanguageSource" minOccurs="1" maxOccurs="1" />
                                    <xs:element type="xs:string" name="LanguageTarget" minOccurs="1" maxOccurs="1" />
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Services" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="Service" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension  base="xs:string">
                                        <xs:attribute name="InvoiceAble" type="boolType"  use="required">
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>         
            
            <xs:element name="Rates" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="Rate" minOccurs="0" type="rateType" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="ProviderDomains" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="ProviderDomain" minOccurs="0" type="providerDomainType" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>       
            
            <xs:element name="ProductionCapacities"  minOccurs="0" maxOccurs="1" >
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="ProductionCapacity" minOccurs="0" type="productionCapacityType" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>            
			                    	
        	<xs:element  name="CustomFields" minOccurs="0" maxOccurs="1">
        		<xs:complexType>
        			<xs:sequence>
                        <xs:element name="CustomField" minOccurs="0" maxOccurs="unbounded" >
                        	<xs:complexType>
                        		<xs:sequence>
                        			<xs:element name="CustomFieldValue"
                        				minOccurs="0" maxOccurs="unbounded">
                        				<xs:complexType>
                        					<xs:simpleContent>
                        						<xs:extension base="xs:string">
                        						<xs:attribute name="LanguageCode" type="xs:string">
                        						</xs:attribute>
                        						</xs:extension>                        						
                        					</xs:simpleContent>                        					                        					
                        				</xs:complexType>                        				
                        			</xs:element>
                        		</xs:sequence>
                        		<xs:attribute name="uuid" type="xs:string">
                        		</xs:attribute>
                        	</xs:complexType>
                        </xs:element>
                    </xs:sequence>    		    		    		
    			</xs:complexType>
    		</xs:element>
    		
    		<xs:element name="Documents" minOccurs="0" maxOccurs="1">
    			<xs:complexType>
    				<xs:sequence>
    					<xs:element  name="Document" minOccurs="0" maxOccurs="unbounded">
			        		<xs:complexType >	
				        		<xs:choice>
				        			<xs:element name="ExternalDocumentPath" type="xs:string"></xs:element>
				        			<xs:element name="DocumentPath" type="xs:string"></xs:element>
				        			<xs:element name="DocumentBase64" type="xs:string"></xs:element>
				        		</xs:choice>
				        		<xs:attribute name="fileName" type="xs:string">
			                    </xs:attribute>
							</xs:complexType>
			        	</xs:element>
    				</xs:sequence>
    			</xs:complexType>    			
    		</xs:element>
    		
    		<xs:element name="SecurityTemplate" minOccurs="0" maxOccurs="1">
        		<xs:complexType>
        			<xs:simpleContent>
        				<xs:extension base="xs:string">
        				<xs:attribute name="LanguageCode" type="xs:string"></xs:attribute>
        				</xs:extension>                        						
        			</xs:simpleContent>                        					                        					
        		</xs:complexType>                        				
         	</xs:element>
    		    		        	        	        	
        </xs:all>       
    </xs:complexType>
     
    <xs:element name="ProviderIdentifier" abstract="true"></xs:element>
	<xs:element name="ProviderId" type="xs:string" substitutionGroup="ProviderIdentifier"></xs:element>
	<xs:element name="User" substitutionGroup="ProviderIdentifier">
		<xs:complexType>
			<xs:all>
				<xs:element type="xs:string" name="Username" minOccurs="1" />
				<xs:element type="xs:string" name="Password" minOccurs="0" />
				<xs:element type="roleType" name="Role" minOccurs="0" />
				<xs:element type="boolType" name="User_Active" minOccurs="0" maxOccurs="1" />
				<xs:element type="boolType" name="Change_Password" minOccurs="0" maxOccurs="1" />
			</xs:all>
		</xs:complexType>
	</xs:element>  	        	      
						  		
    <xs:complexType name="customerType">
        <xs:all>
            <xs:element name="CustomerName" type="xs:string" minOccurs="1"
                        maxOccurs="1">
            </xs:element>
            
            <xs:element name="CustomerNumber" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="OnlineRequestForm" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>
            
            <xs:element name="Currency" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="TimeZone" type="timezoneType" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="RequestCode" type="xs:string" minOccurs="1"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="Website" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="GeneralNote" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>
            <xs:element name="BillingNote" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>
			
            <xs:element name="RequestNote" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="Folder" type="xs:string" minOccurs="1"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="InvoiceLang" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>

            <xs:element name="Reference" type="xs:string" minOccurs="0"
                        maxOccurs="1">
            </xs:element>
	  
            <xs:element name="Customer_Active" type="boolType" minOccurs="0"
                        maxOccurs="1">
            </xs:element>
	  
            <xs:element name="Contacts" minOccurs="0"  maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Contact"  minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="Greetings" type="xs:string" minOccurs="0"></xs:element>
                                    <xs:element name="FirstName" type="xs:string" minOccurs="0"></xs:element>
                                    <xs:element name="LastName" type="xs:string" minOccurs="1"></xs:element>
                                    <xs:element name="Language" type="xs:string" minOccurs="0"></xs:element>
                                    <xs:element name="Title" type="xs:string" minOccurs="0"></xs:element>
                                    <xs:element name="EmailInformation" minOccurs="0" maxOccurs="1" type="emailInformationType" />
                                    <xs:element name="Note" type="xs:string" minOccurs="0"
                                                maxOccurs="1" />

                                    <xs:element name="User" minOccurs="0"
                                                maxOccurs="1">
                                        <xs:complexType>
                                            <xs:all>
                                                <xs:element type="xs:string" name="Username"
                                                            minOccurs="0" />
                                                <xs:element type="xs:string" name="Password"
                                                            minOccurs="0" />
                                                <xs:element type="boolType" name="User_Active"
                                                            minOccurs="0" maxOccurs="1" />
                                                <xs:element type="boolType" name="Change_Password"
                                                            minOccurs="0" maxOccurs="1" />
                                                <xs:element name="CommLanguage" type="xs:string"></xs:element>
                                            </xs:all>
                                        </xs:complexType>
                                    </xs:element>

                                    <!-- Note : The choice for the required item between BusinessUnitName or Address_Name or both is impossible in a <xs:all> for a single .xsd file.-->
                                    <!-- Note : This validation should be done server-side.-->       
									<xs:element name="BusinessUnitName" type="xs:string" minOccurs="0"
                                                maxOccurs="1" >
                                    </xs:element>

                                    <xs:element name="Address_Name" type="xs:string" minOccurs="0"
                                                maxOccurs="1">
                                    </xs:element>
                                    
                                    <xs:element name="Phones" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Phone" minOccurs="0"  maxOccurs="unbounded" type="phoneType">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Addresses" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Address" type="addressType" minOccurs="0"
                                    maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="BusinessUnits" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="BusinessUnit"  minOccurs="0"
                                    maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="BusinessUnitName" type="xs:string" minOccurs="1"
                                                maxOccurs="1">
                                    </xs:element>
                                    
                                    <xs:element name="BusinessUnitCode" type="xs:string" minOccurs="0"
                                                maxOccurs="1" >
                                    </xs:element>
                                    
                                    <xs:element name="ParentBusinessUnitName" type="xs:string" minOccurs="0"
                                                maxOccurs="1">
                                    </xs:element>
                                    <xs:element name="BusinessUnitGroup" type="xs:string" minOccurs="0"
                                                maxOccurs="1">
                                    </xs:element>
                                    <xs:element name="Address_Name" type="xs:string" minOccurs="1"
                                                maxOccurs="1">
                                    </xs:element>

                                    <xs:element name="HeadOffice" type="xs:string" minOccurs="0"
                                                maxOccurs="1">
                                    </xs:element>
                                    <xs:element name="Phones" minOccurs="0" maxOccurs="1">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="Phone" minOccurs="0"  maxOccurs="unbounded" type="phoneType">
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
                        
            <xs:element name="Rates" minOccurs="0"
                        maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element  name="Rate" minOccurs="0" type="rateType" maxOccurs="unbounded">
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

	
  <!--************************************ Elements ***********************************-->

    <xs:element name="Import" >
      <xs:complexType>            
          <xs:all>
              <xs:element name="Providers"  minOccurs="0" maxOccurs="1"  >
                  <xs:complexType>
                      <xs:sequence>
                          <xs:element name="Provider" type="providerType" minOccurs="0" maxOccurs="unbounded"  />
                      </xs:sequence>
                  </xs:complexType>
              </xs:element>    
                <xs:element name="Customers"   minOccurs="0" maxOccurs="1" >
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Customer" type="customerType" minOccurs="0" maxOccurs="unbounded"  />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:all>
            <xs:attribute name="requestID" type="xs:string" use="optional"  />   
            <xs:attribute name="maxRows" type="xs:int" use="optional"  />   
        </xs:complexType>
    </xs:element>    
    
    <xs:simpleType name="timezoneType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Etc/GMT+12"/>
            <xs:enumeration value="Pacific/Midway"/>
            <xs:enumeration value="US/Alaska"/>
            <xs:enumeration value="America/Los_Angeles" />
            <xs:enumeration value="America/Vancouver" />
            <xs:enumeration value="Canada/Mountain" />
            <xs:enumeration value="US/Arizona" />
            <xs:enumeration value="America/Chihuahua" />
            <xs:enumeration value="CST" />
            <xs:enumeration value="Canada/Saskatchewan" />
            <xs:enumeration value="US/Central" />
            <xs:enumeration value="America/Bogota" />
            <xs:enumeration value="Canada/Eastern" />
            <xs:enumeration value="US/Eastern" />
            <xs:enumeration value="US/East-Indiana" />
            <xs:enumeration value="America/Caracas" />
            <xs:enumeration value="Canada/Atlantic" />
            <xs:enumeration value="America/Santiago" />
            <xs:enumeration value="Canada/Newfoundland" />
            <xs:enumeration value="Brazil/East" />
            <xs:enumeration value="America/Buenos_Aires" />
            <xs:enumeration value="America/Godthab" />
            <xs:enumeration value="Atlantic/South_Georgia" />
            <xs:enumeration value="Atlantic/Cape_Verde" />
            <xs:enumeration value="Atlantic/Azores" />
            <xs:enumeration value="Africa/Casablanca" />
            <xs:enumeration value="Europe/Dublin" />
            <xs:enumeration value="Africa/Lagos" />
            <xs:enumeration value="Europe/Amsterdam" />
            <xs:enumeration value="Europe/Belgrade" />
            <xs:enumeration value="Europe/Paris" />
            <xs:enumeration value="Europe/Sarajevo" />
            <xs:enumeration value="Europe/Athens" />
            <xs:enumeration value="Europe/Bucharest" />
            <xs:enumeration value="Africa/Harare" />
            <xs:enumeration value="Europe/Helsinki" />
            <xs:enumeration value="Asia/Jerusalem" />
            <xs:enumeration value="Africa/Cairo" />
            <xs:enumeration value="Asia/Baghdad" />
            <xs:enumeration value="Asia/Kuwait" />
            <xs:enumeration value="Europe/Moscow" />
            <xs:enumeration value="Africa/Nairobi" />
            <xs:enumeration value="Iran" />
            <xs:enumeration value="Asia/Muscat" />
            <xs:enumeration value="Asia/Baku" />
            <xs:enumeration value="Asia/Kabul" />
            <xs:enumeration value="Asia/Karachi" />
            <xs:enumeration value="Asia/Calcutta" />
            <xs:enumeration value="Asia/Katmandu" />
            <xs:enumeration value="Asia/Almaty" />
            <xs:enumeration value="Asia/Dhaka" />
            <xs:enumeration value="Asia/Rangoon" />
            <xs:enumeration value="Asia/Bangkok" />
            <xs:enumeration value="Asia/Krasnoyarsk" />
            <xs:enumeration value="Asia/Irkutsk" />
            <xs:enumeration value="Asia/Singapore" />
            <xs:enumeration value="Asia/Hong_Kong" />
            <xs:enumeration value="Australia/Perth" />
            <xs:enumeration value="Asia/Taipei" />
            <xs:enumeration value="Asia/Tokyo" />
            <xs:enumeration value="Asia/Seoul" />
            <xs:enumeration value="Asia/Yakutsk" />
            <xs:enumeration value="Australia/Adelaide" />
            <xs:enumeration value="Australia/Darwin" />
            <xs:enumeration value="Australia/Brisbane" />
            <xs:enumeration value="Australia/Melbourne" />
            <xs:enumeration value="Australia/Hobart" />
            <xs:enumeration value="Pacific/Guam" />
            <xs:enumeration value="Asia/Vladivostok" />
            <xs:enumeration value="Asia/Magadan" />
            <xs:enumeration value="Pacific/Auckland" />
            <xs:enumeration value="Pacific/Fiji" />
            <xs:enumeration value="Etc/GMT-13" />
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>





